# docs at https://git-scm.com/docs/gitignore
*~
*.o
*.bin
*.asm
.moc*
.obj*
_gsdata_*

Makefile
Makefile.Debug
Makefile.Release
.qmake.stash

*.pro.user
*.pdb
*.ilk
*.exe
*.rt
*.mp3

wostest
hellomake
stars
pictures
movetable
demo
