# docs at https://git-scm.com/docs/gitignore
*~
*.o
*.bin
*.asm
.moc*
.obj*
_gsdata_*

Makefile
Makefile.Debug
Makefile.Release
.qmake.stash

*.pro.user
*.pdb
*.ilk
*.exe
*.rt
*.mp3
*.psd

1x1x8_c5.bin
wickedlink.o
wickedquicklink.o

wostest
hellomake
stars
pictures
movetable
demo
